body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
}


.div_menu{
    height: 50px;
    text-align: center;
}

.div_menu div{
    width: 33.333333%;
    height: 100%;
    float: left;
    vertical-align: middle;
}

.col_left{
    background-color: chartreuse;
}

.col_center{
    background-color: chocolate;
}

.col_right{
    background-color: cornflowerblue;
}

.div_title{
    background-color: brown;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.div_title div{
    width: 100%;
    background-color: darkcyan;
    text-align: center;
}

.illustration img{
    height: 200px;
}

.big_name{
    font-size: 50px;
    font-weight: bold;
}

.base_line{
    font-size: 20px;
}

.div_portfolio{
    background-color: burlywood;
    float: left;
    width: 100%;
}

.div_portfolio>div{
    width: 100%;
    background-color: blue;
    text-align: center;
}


.project{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 200px;
    background-color: cadetblue;
    border-radius: 10px;
    
    background-size: cover;
    background-position: center;
}

.div_about{
    height: 150px;
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    float: left;
    width: 100%;
}

.div_about>div{
    width: 100%;
    background-color: darkcyan;
    text-align: center;
}
.div_contact{
    height: 100px;
    width: 100%;
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: chartreuse;
}

.div_contact>div{
    width: 100%;
    background-color: darkcyan;
    text-align: center;
}

.div_contact a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.div_contact a img{
    height: 50px;
}

.div_footer{
    height: 50px;
    background-color: chocolate;
}