body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.div_menu{
    height: 50px;
    text-align: center;
    background-color: rgb(57,51,51);
    /* position: fixed;  Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden; /* Hide overflow */
    z-index: 100;
    margin-top: 0px;

}

.div_menu div{
    width: 50%;
    height: 100%;
    float: left;
    vertical-align: middle;

}


.div_title{
    background-color: rgb(190,86,230);
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
}

.div_title div{
    width: 100%;
    text-align: center;
}

.illustration img{
    height: 200px;
    border-radius: 50%;
}

.big_name{
    font-size: 50px;
    font-weight: bold;
}

.base_line{
    font-size: 20px;
}

.div_portfolio{
    background-color: rgb(107,61,185);
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div_portfolio>div{
    width: 100%;
    text-align: center;
}


.project{                               /* pour la largeur de page par défaut : entre 800 et 1200px */   
    float: left;
    width: 30%;                          /* 3 projets par ligne */
    margin: 1.66%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 800px) {  /* si la largeur de page est inférieur à 800px */
    .project{                                
        width: 90%;                     /* 1 projet par ligne */ 
        margin-left:5%;
    }
}

@media screen and (min-width: 1200px) { /* si la largeur de page est superieur à 1200px */
    .project{                             
        width: 20%;                     /* 4 projets par ligne */
        margin-left:3%;
    }
}

.div_about{
    width: 100%;
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(57,51,51);


}

.div_about>div{
    width: 100%;
    text-align: center;
}

.about_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.div_contact{
    width: 100%;
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(44, 47, 51);
}

.div_contact>div{
    width: 100%;
    text-align: center;


}

.div_contact a{
    color: white;
    text-decoration: none;
    margin-right: 20px;

}

.div_contact a img{
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

